/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusable
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5722CD;
    --header-bg-color: #4845E4;
    --secondary-color: #ED4385;
    --secondary-bg-color: #F3F6F9;
    --primary-text-color: #0C0C0C;
    --secondary-text-color: #ffffff;
    --header-main-text-color: #F2F0FF;
    --service-tiles-text-color: #7A7A7A;
}

body {
    max-width: 100vw;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    background-color: var(--secondary-color);
    border-radius: 32px;
    padding: 18px 48px;
    margin-top: 26px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Merriweather", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    margin: 5px;
}

/* ------------------------------- 3. Layout --------------------------------------- */

.outer-container {
    /*container*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px dashed pink;
}

.inner-container {
    /*item*/
    flex-basis: 1200px;

    /*container*/
    display: flex;
    flex-direction: column;
}

.outer-container__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px dashed pink;
}

.inner-container__main {
    flex-basis: 1400px;
    display: flex;
    flex-direction: column;
    border: 2px dashed blue;
}

/* --------------- 3.1 Reusable ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: rgb(72, 69, 228);
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 35%, rgba(87, 34, 205, 1) 100%);
    color: var(--secondary-text-color);
}

nav {
    /*item*/
    flex-basis: 3rem;

    /*container*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.header-nav {
    /*item*/
    flex-basis: 24rem;

    /*container*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    /*item*/
    flex-basis: 36rem;

    /*container*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content {
    padding: 10rem;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction-section {
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.introduction-text {
    flex-basis: 1200px;
    padding: 10rem;
}

.introduction-section-contact {
    margin-top: 30px;
}

/*------------------4.3 Projects---------------------------*/

.project-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--secondary-bg-color);
}

.article-project-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-section-normal {
    flex-direction: row;
}

.project-section-reverse {
    flex-direction: row-reverse;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.text-project-section {
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;
}

/*----------------------4.4 Services-----------------------*/

/*------------------------4.5 Contact----------------------*/

/*------------------------4.6 Footer-------------------------*/

footer {
    background-color: black;
    color: white;
    padding: 16px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */